changeLogFile: {{ lb_changelog_file }}
url: {{ lb_db_url }}
username: {{ lb_db_username }}
password: {{ lb_db_password }}
#classpath:
logLevel: {{ lb_log_level }}
logFile: ./changelog.log
liquibase.hub.mode: off

